:root {
  --purple: #a17fba;
  --light: #8dd0fa1a;
  --blue: #2fa1d9;
  --text-color: #777;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
body {
  background-color: #ddd !important;
}

h1 {
  text-align: center;
  color: #a17fba;
  font-weight: 700;
}

.dark {
  background-color: #333;
  min-height: 100vh;
}
